<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Redis & Session</title>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Pro&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
</head>
<body>
<header>
    <h1>401</h1>
</header>
<section>
    <p>Nie masz dostępu do zasobu.
    </p>
    <p>
        <strong>Więcej o błędzie:</strong>
        <br/>
        {{error}}
    </p>
</section>
</body>
</html>