<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Bib-maker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Pro&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #005b5b">
    <a class="navbar-brand" href="#">Bib-maker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Logowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Rejestracja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('change_password') }}">Zmiana hasła</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Notatki
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('show_notes') }}">Lista</a>
                    <a class="dropdown-item" href="{{ url_for('add_note') }}">Dodawanie</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}"> Wylogowywanie </a>
            </li>
        </ul>
    </div>
</nav>

</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <br>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-left">
                <h3>Lista wszystkich Twoich notatek.</h3>
                Liczba Twoich wszystkich notatek: {{ resp_json["count"] }}.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <section>
                    <ul class="list-group">
                        {% for note in resp_json["notes"] %}
                            <li class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-10 text-left text-break">
                                        <a href="{{ url_for('show_note', id=note['id']) }}"> {{ note["title"] }} </a>
                                    </div>
                                    <div class="col-2 text-right">
                                        {%  if note['username'] is eq(username) %}
                                                <a href={{ url_for('delete_note', id=note['id']) }}> Usuń </a>
                                        {%  endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-left">
                                        {{ note["date"] }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>

    </div>
</div>
</div>

<footer class="text-light fixed-bottom" style="background-color: #005b5b">

    <div class="container-fluid">
        <div class="row">

            <div class="col-6 text-left">
                <p>&copy; 2019 Jakub Korczakowski</p>
            </div>

            <div class="col-6 text-right">
                proudly powered by <img
                    src="https://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png" alt="Vim icon"
                    title="Vim"
                    class="footer-img"/>
            </div>

        </div>
    </div>

</footer>

</body>
</html>