<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Bib-maker FILES</title>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Pro&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
</head>
<header>
    <h2>Bib-maker</h2>
</header>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a href="{{ url_for('show_files') }}">Lista plików</a></li>
        <li><a href="{{ url_for('add_files') }}">Dodawanie plików</a></li>
    </ul>
</nav>
<body>
<header>
    <h3>Dodawanie plików.</h3>
</header>
<section>
    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="Dodaj plik"/>
    </form>
</section>
<footer>
    <p class="footer-inline left">&copy; 2019 Jakub Korczakowski</p>
    <p class="footer-inline right">proudly powered by <img
            src="https://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png" alt="Vim icon" title="Vim"
            class="footer-img"/></p>
</footer>
</body>
</html>