<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Bib-maker FILES</title>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Pro&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
</head>
<header>
    <h2>Bib-maker</h2>
</header>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a href="{{ url_for('show_files') }}">Lista plików</a></li>
        <li><a href="{{ url_for('add_files') }}">Dodawanie plików</a></li>
    </ul>
</nav>
<body>
<section>
    <p>To jest strona główna dla pobierania plików. Pozostała zawartość strony dostępna jest tylko dla zalogowanych użytkowników.
    </p>
{#    <p> <a href="{{ url_for('login') }}">Strona do logowania</a> </p>#}
</section>
<footer>
    <p class="footer-inline left">&copy; 2019 Jakub Korczakowski</p>
    <p class="footer-inline right">proudly powered by <img
            src="https://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png" alt="Vim icon" title="Vim"
            class="footer-img"/></p>
</footer>
</body>
</html>