<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Bib-maker</title>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Pro&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
    <script src="/scripts/login.js"></script>
</head>
<body>
<header>
    <h2>Bib-maker</h2>
</header>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
        <li><a href="{{ url_for('register') }}">Zarejestruj się</a></li>
    </ul>
</nav>
<section>

    <h3>Zaloguj się</h3>

    <form id="login-form" class="login-form" action="/login" method="post"
          enctype="multipart/form-data">

        <label for="username" class="required">Login</label>
        <input id="username" type="text" name="username"/>
        <br/>
        <br/>

        <label for="password" class="required">Hasło</label>
        <input id="password" type="password" name="password"/>
        <br/>
        <br/>

        <section class="error-message-flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </section>

        <input id="button-login-form" type="submit" value="Zaloguj"/>

    </form>

</section>
<footer>
    <p class="footer-inline left">&copy; 2019 Jakub Korczakowski</p>
    <p class="footer-inline right">proudly powered by <img
            src="https://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png" alt="Vim icon" title="Vim"
            class="footer-img"/></p>
</footer>
</body>
</html>